.home-container {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .students-container {
    height: 35%;
    width: 100%;
    padding: 25px;
    box-shadow: -1px -1px 20px 1px rgba(0, 0, 0, 0.04),
      1px 1px 20px 1px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
  }

  .tab-content {
    width: 100%;
    height: 63%;

    .tab-pane {
      width: 100%;
      height: 100%;
      display: flex;

      .buttons {
        width: 220px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        .add-student-btn {
          margin-bottom: 15px;
          border: 2px solid #235390;
          color: #235390;
        }
        .add-group-btn {
          border: 2px solid #c200af;
          color: #c200af;
        }
        .add-student-btn,
        .add-group-btn {
          cursor: pointer;
          width: 100%;
          height: 45px;
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          border-radius: 10px;
          padding: 15px;
          font-weight: bold;
          .add-icon {
            margin-right: 15px;
          }
          .btn-text {
            flex: 1;
          }
        }
      }

      .student-items-container {
        flex: 1;
        .no-students-placeholder {
          padding: 30px 0 30px 20px;
          width: 100%;
          height: 100%;
          cursor: pointer;

          .no-students-box {
            border: 3px dashed #aeaeae;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .add-icon {
              margin-right: 15px;
            }
            .text {
              color: #aeaeae;
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  .schedule-container {
    width: 100%;
    height: 65%;
    background: url("../assets/schedule-placeholder.png") center center /
      contain no-repeat;
    background-position-y: top;
    position: relative;
    .add-container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      max-width: 320px;
      max-height: 210px;
      justify-content: center;
      text-align: center;
      .calendar-icon,
      .text {
        margin-bottom: 20px;
      }
      .text {
        color: #235390;
        font-weight: bold;
      }
      .add-student-btn {
        display: flex;
        padding: 9px;
        padding-right: 15px;
        background: #235390;
        border-radius: 10px;
        font-weight: bold;
        font-size: 13px;
        color: white;
        cursor: pointer;
        .add-icon {
          margin-right: 10px;
        }
        .btn-text {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
